@{
    ViewBag.Title = "Home Page";
}

        <div class="red animated"></div>


        <div class="green animated"></div>


        <div class="yellow animated"></div>


        <div class="blue animated"></div>

 